html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font-family), sans-serif;

  background-color: var(--body-background);
}

.page {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 0;
  padding-top: 104px;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  @include tablet {
    padding-top: 112px;
  }

  & .header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  & .desktop-layout {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;

    @include small-mobile {
      max-width: 375px;
    }

    @include mobile {
      width: 375px;
      padding-left: 20px;
      padding-right: 20px;
    }

    @include tablet {
      width: 768px;
      padding-left: 32px;
      padding-right: 32px;
      gap: 100px;
    }

    @include desktop {
      width: 1280px;
      flex-direction: row;
      gap: 36px;
      align-items: start;
      padding-left: 21px;
      padding-right: 21px;
    }
  }

  & .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @include tablet {
      flex-direction: row;
      gap: 32px;
    }

    @include desktop {
      flex-direction: column;
      gap: 86px;
    }

    &__in-shop-list {
      display: none;

      @include desktop {
        display: flex;
      }
    }
  }
}
