// reset h1, h2, h3, h4, h5, h6
%title {
  margin: 0;
}

// reset
%text {
  margin: 0;
}

// reset ul
%list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// reset a
%link {
  text-decoration: none;
}

// Псевдоелемент
%before {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  left: 50%;
  margin-left: -25px;
}
