.shoplist-book-card {
    position: relative;
    background-color: var(--card-background);
    border: 2px solid var(--shopping-list-border);
    border-radius: 16px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
        width: 335px;
        padding: 20px;
    }

    @include tablet {
        width: 704px;
        padding: 24px;
    }

    @include desktop {
        width: 996px;
        margin-right: 0;
    }
}

.shoplist-book-card-top {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.shoplist-book-cover {
    border-radius: 8px;
    margin-bottom: 4px;

    @include mobile {
        width: 98px;
        height: 139px;
    }

    @include tablet {
        width: 116px;
        height: 165px;
    }

}

.shoplist-delete-book {
    position: absolute;
    right: 14px;
    top: 14px;
    background: var(--accent-color);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
}

.book-author {
    color: var(--alternative-text);
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: -0.04em;
}

.book-title {
    color: var(--main-color);
    font-weight: 700;
        font-size: 16px;
        line-height: calc(18/16);
        letter-spacing: -0.04em;
            text-transform: uppercase;
            margin-bottom: 4px;
}

.book-category {
    font-weight: 400;
        font-size: 12px;
        line-height: calc(14/12);
        color: var(--alternative-text);
        letter-spacing: 0.03em;
        margin-bottom: 24px;
}

.book-description {
    font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: var(--main-color);
        letter-spacing: -0.04em;
}

.shop-logo {
    filter: grayscale(100%);
}

.shoplist-delete-book-icon {
    fill: #fff;
}

.shops-logo {
    display: flex;
    align-items: center;
}