@media screen and (min-width: 375px) {
    .information-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 14px;
        margin-left: auto;
        margin-right: auto;
        
        width: 244px;
        text-align: center;
        letter-spacing: -0.02em;

        color: var(--categories-main);
    }

    .book_img {
        width: 265px;
        height: 198px;
        margin-left: auto;
        margin-right: auto;
        
        background-image: url('../images/shopping-list-page/bg-book_mob@1x.png');
        background-size: cover;
    }
    
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .book_img {
        background-image: url("../images/shopping-list-page/bg-book_mob@2x.png");
      }
    }
}

@media screen and (min-width: 768px) {
    .information-text {
        font-size: 18px;
        line-height: 24px;
        width: 349px;

        margin-bottom: 20px;
    }

    .book_img {
        width: 322px;
        height: 241px;
        background-image: url('../images/shopping-list-page/bg-book_tab&com@1x.png');
        background-size: cover;
    }

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .book_img {
        background-image: url("../images/shopping-list-page/bg-book_tab&com@2x.png");
      }
    }
}