@media screen and (min-width: 375px) {
    .shop-container {
        min-width: 335px;
    }
}

@media screen and (min-width: 768px) {
    .shop-container {
        min-width: 704px;
    }
}

@media screen and (min-width: 1280px) {
    .shop-container {
        min-width: 836px;
    }
}