@media screen and (min-width: 375px) {
    .shop-list-container {
        padding: 40px 20px;
    }
}

@media screen and (min-width: 768px) {
    .shop-list-container {
        padding: 40px 32px;
    }
}

@media screen and (min-width: 1280px) {
    .shop-list-container {
        padding: 40px 40px;
    }
}