<div class="mobile-menu" id="mobileMenu">
  <div class="content">
    <nav class="nav">
      <button class="user-sing" id="userMobIn" data-modal-auth-open>
        Sign Up
        <svg class="user__icon" width="20" height="20">
          <use href="./images/icons.svg#arrow-to-right"></use>
        </svg>
      </button>
      <button class="user-mob" id="userMob">
        <img
          width="37"
          height="37"
          src="./images/stephen.jpg"
          alt="user-authorized__image"
          class="user-authorized__image"
        />
        <p class="user-authorized__name">Stephen</p>
        <svg class="user-authorized__icon" width="23" height="26">
          <use href="./images/icons.svg#user-arrow-down"></use>
        </svg>
      </button>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="./index.html" class="nav__link mob-home">Home</a>
        </li>
        <li class="nav__item">
          <a href="./shop-list.html" class="nav__link shop-link"
            >Shopping list
            <svg class="nav__icon" width="20" height="20">
              <use href="./images/icons.svg#shopping-list"></use></svg></a>
        </li>
      </ul>
      <button class="nav-btn" id="logOut">
        Log out
        <svg class="" width="19" height="19">
          <use href="./images/icons.svg#arrow-to-right"></use>
        </svg>
      </button>
    </nav>
  </div>
  <div class="background-image"></div>
</div>
