<div class="mobile-menu">
  <div class="content">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="./index.html" class="nav__link mob">Home</a>
        </li>
        <li class="nav__item">
          <a href="./shop-list.html" class="nav__link shop-link"
            >Shopping list
            <svg class="nav__icon" width="20" height="20">
              <use href="./images/icons.svg#shopping-list"></use></svg
          ></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="background-image"></div>
</div>
