<!-- Інпут можна замінити своїм, але в ньому обов'язково прописати клас "theme-toggle-js"!!! -->

<header class="header">
  <div class="header-content">
    <input class="theme-toggle-js" type="checkbox" />
    <button type="button" id="burger-btn" class="burger-btn">
      <img
        class="burger-img"
        src="./img-burger/bur.svg"
        alt="відкрити"
        width="20"
        height="20"
      />
      <img
        class="burger-img"
        src="./img-burger/1.svg"
        alt="закрити"
        width="20"
        height="20"
      />
    </button>
  </div>
  <div class="mobile-menu">
    <div class="content"></div>
    <div class="background-image">
      <img src="./img-burger/mobile-bg.png" alt="закрити"  />
    </div>
  </div>
</header>
