<header class="header">
  <div class="container header__container">
    <a class="logo" href="./index.html">
      <svg class="logo__icon" width="25" height="25">
        <use href="./images/icons.svg#logo"></use>
      </svg>
      <svg class="logo__text" width="53" height="17">
        <use href="./images/icons.svg#logo-text"></use></svg
    ></a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="./index.html" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="./shop-list.html" class="nav__link shop-link"
            >Shopping list
            <svg class="nav__icon" width="20" height="20">
              <use href="./images/icons.svg#shopping-list"></use></svg
          ></a>
        </li>
      </ul>
    </nav>

    <input type="checkbox" class="theme-toggle-js" />

    <button class="mobile-menu__button">
      <svg width="28" height="28">
        <use href="./images/icons.svg#burger-menu"></use>
      </svg>
    </button>

    <button class="user">
      <svg class="" width="19" height="19">
        <use href="./images/icons.svg#icon-user"></use>
      </svg>
    </button>
  </div>
</header>
