<div class="options-modal" data-modal-options-window>
  <div class="options-modal-text">
    <p class="options-text">
      To get access to all functionality and comfortable shopping please
      register
    </p>
  </div>

  <div class="buttons-wrapper">
    <button
      type="button"
      id="acceptBtn"
      class="option-accept-btn anim-btn"
      data-optionmodal-auth-open
    >
      SIGN UP
    </button>

    <button
      class="options-close-btn js-modal-close anim-btn"
      data-modal-options-close
    >
      CANCEL
    </button>
  </div>
</div>
