<div class="backdrop backdrop__modal backdrop--is-hidden js-book-modal">
  <div class="modal book-card__modal scrollable">
    <button class="modal-close__btn js-book-close">
      <svg class="close__icon">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>
    <div class="book-card">
      <div class="book-card__thumb">
        <!-- <img class="book-card__img" src="../" alt="book_image" loading="lazy" /> -->
      </div>
      <div class="book-info">
        <h2 class="book-title">${title}</h2>
        <h3 class="book-author">${author}</h3>
        <p class="book-description">${description}</p>
        <ul class="shops-list list">
          <li class="shops-item">
            <a
              class="buy-links"
              href="https://google.com"
              aria-label="amazon-shop icon"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="amazon-shop__icon book-shop__icons"
                src="./images/shopping-list/amazon-link_1x.png"
                alt="amazon-shop icon"
                loading="lazy"
              />
            </a>
          </li>
          <li class="shops-item">
            <a
              class="buy-links"
              href="https://google.com"
              aria-label="apple-book icon"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="apple-book__icon book-shop__icons"
                src="./images/shopping-list/books-link_1x.png"
                alt="apple-book icon"
                loading="lazy"
              />
            </a>
          </li>
          <li class="shops-item">
            <a
              class="buy-links"
              href="https://google.com"
              aria-label="bookshop icon"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="bookshop-icon book-shop__icons"
                src="./images/shopping-list/book-shop-link_1x.png"
                alt="bookshop icon"
                loading="lazy"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="book-card__btn">
      <button class="card__btn btn">add to shop list</button>
    </div>
  </div>
</div>
