<div class="support__container">
    <h2 class="support_header">
        <svg 
        class="support_icon"
        width="20"
        height="32"
        aria-label="Emblem of Ukraine"
        >
        <!-- <use href=""></use> -->

        </svg>

    </h2>

    <ul class="support__list js_support_list">
        
    </ul>

    <button type="button" class="support__btn">
        <svg
              class=""
              width="20"
              height="20"
              aria-label="Show more"
            >
              <!-- <use href=""></use> -->
            </svg>
    </button>
    
</div>