<section class="support__container">
  <div class="container">
    <h2 class="support__header">
      Support Ukraine
      <svg
        class="support__icon"
        width="20"
        height="32"
        aria-label="Emblem of Ukraine"
      >
        <use href="./images/icons.svg#icon-emblem"></use>
      </svg>
    </h2>

    <ul class="support__list js_support_list"></ul>

    <button type="button" class="support__btn js_support_btn">
      <svg
        class="support__btn_icon"
        width="20"
        height="20"
        aria-label="Show more"
      >
        <use href="./images/icons.svg#slider-arrow"></use>
      </svg>
    </button>
  </div>
</section>
