.backdrop-auth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // overflow: scroll;

  z-index: 1000;
  overflow-y: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--categories-accent);

  opacity: 1;
  visibility: visible;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
