.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  background-color: rgba(17, 17, 17, 0.4);

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: visibility, opacity;

  &--is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

/* .scrollable {
  overflow-x: hidden;
  overflow-y: auto;
} */

.backdrop__modal {
  opacity: 1;

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: transform, opacity;

  // .backdrop--is-hidden & {
  //   transform: translate(-50%, 0);
  //   opacity: 0;
  // }
}

.book-card__modal {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;

  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  width: 287px;

  outline: 2px solid var(--main-color);
  border-radius: 18px;
  background-color: var(--card-background);

  @include tablet {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    max-width: 579px;
    width: 100%;
    // height: 465px;
  }
}

.modal-close__btn {
  position: absolute;
  top: 12px;
  right: 12px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  background-color: var(--card-background);
  border: none;

  @include tablet {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }
}

.close__icon {
  width: 24px;
  height: 24px;

  fill: var(--back-btn-background);
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    fill: var(--categories-accent);
  }

  @include tablet {
    width: 28px;
    height: 28px;
  }
}

.book-card {
  @include tablet {
    display: flex;
  }
}

.book-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book-card__thumb {
  max-width: 287px;
  height: 408px;
  margin-bottom: 14px;
  overflow: hidden;

  @media screen and (max-width) {
    margin: 0 auto;
  }

  @include tablet {
    max-width: 192px;
    width: 100%;
    height: 281px;
    margin-right: 24px;
    margin-bottom: 40px;
  }
}

.book-card__img {
  border-radius: 8px;
  overflow: hidden;
}

.book-title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(18 / 16);
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--main-color);

  @include tablet {
    font-size: 24px;
    line-height: calc(28 / 24);
    margin-bottom: 8px;
  }
}

.book-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.04em;
  margin-bottom: 18px;

  color: var(--alternative-text);

  @include tablet {
    font-size: 14px;
    line-height: calc(18 / 14);
    margin-bottom: 20px;
  }
}

.book-description {
  margin-bottom: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;

  color: var(--main-color);

  @include tablet {
    margin-bottom: 29px;
  }
}

.shops-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

// .shops-item {
// }

.buy-links {
  justify-content: center;
  align-items: center;
}

.book-shop__icons {
  filter: grayscale(100%);

  &:hover,
  &:focus {
    box-shadow: (0px 3px 3px rgba(0, 0, 0, 0.15));
  }
}

.amazon-shop__icon {
  width: 62px;
  height: 19px;

  &:hover,
  &:focus {
    fill: var(--categories-accent);
  }
}

.apple-book__icon {
  width: 33px;
  height: 32px;
}

.bookshop-icon {
  width: 38px;
  height: 36px;
}

.book-card__btn {
  margin: 0 auto;
}

.card__btn {
  width: 211px;
  height: 46px;
  border: 2px solid var(--categories-accent);
  border-radius: 40px;
  background-color: var(--card-background);

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.01em;
  text-transform: uppercase;

  transition-property: color, background-color;

  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--categories-accent);
    color: var(--nav-link-hovered);
  }

  @include tablet {
    width: 499px;
    height: 64px;
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}
