.categories {
  padding-left: 10px;
  padding-right: 10px;

  color: var(--categories-main);

  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }

  &__container {
    // delete, if it`s in the flexbox
    max-height: 228px;
    padding-right: 28px;
    overflow-y: scroll;
    overflow-x: hidden;

    @include small-mobile {
      max-width: 335px;
      padding-right: 18px;
    }

    @include mobile {
      width: 335px;
    }

    //see instructions upper
    @include tablet {
      width: 337px;
      max-height: 472px;
    }

    //see instructions upper
    @include desktop {
      // width: 356px; Зменшила ширину (Інна)
      width: 338px;
    }

    // Scrollbar
    &::-webkit-scrollbar {
      width: 8px;

      &-track {
        background: var(--body-background);
      }

      &-thumb {
        width: 100%;
        height: 114px;
        border-radius: 12px;
        background: var(--categories-scrollbar);

        @include tablet {
          height: 167px;
        }
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include tablet {
      gap: 32px;
    }
  }
}

//To equal fonts with the basic styles
.category {
  font-size: 16px;
  line-height: 1.12;

  letter-spacing: -0.02em;

  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: font-size, color;

  @include tablet {
    font-size: 18px;
    line-height: 1.33;
  }

  &:hover,
  &:focus {
    font-size: 17px;
    color: var(--main-color);

    @include tablet {
      font-size: 19px;
    }
  }

  &.checked-category {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--categories-accent);
  }
}
