.modal-auth {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 335px;
  height: 384px;

  padding-top: 40px;

  padding-right: 20px;
  padding-left: 20px;

  background-color: var(--body-background);

  border: 2px solid var(--main-color);
  border-radius: 18px;

  transition: opacity 800ms 500ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 374px) {
    max-width: 80vh;
    height: 384px;

    padding-right: 20px;
    padding-left: 20px;
  }

  @include tablet {
    width: 579px;
    height: 516px;

    margin: auto;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
  }
}

.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}

.auth-modal-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  outline: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 102;

  @include tablet {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }
}

.modal_cross {
  width: 10px;
  height: 10px;
  fill: var(--back-btn-background);

  @include tablet {
    width: 14px;
    height: 14px;

    scale: 1.8;
  }

  &:hover {
    fill: var(--text-in-logo);
  }
}

.card {
  width: 100%;
  height: 100%;

  perspective: 1000px;
}

.inner-box {
  position: relative;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: transform 1s;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.auth_form {
  margin-bottom: 14px;
  padding: auto;
  @include tablet {
    margin-bottom: 20px;
  }
}

.auth_wrap {
  position: relative;
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 28px;
  }
}

::placeholder {
  color: var(--body-background);
  // color: #f31414;
}

.auth_icon {
  position: absolute;
  top: 50%;
  right: 24;

  transform: translateY(-50%);

  transition: fill var(--main-color);

  @include tablet {
    right: 32;
  }
}

.auth_pass {
  position: relative;
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.auth_label {
  background-color: var(--body-background);
  padding: 5px;

  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--main-color);

  @include tablet {
    font-size: 18px;
    left: 40px;
    line-height: 24px;
  }
}

.auth_field {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  height: 50px;
  background-color: var(--body-background);
  border: 2px solid var(--main-color);
  border-radius: 40px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    height: 64px;

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.auth_field._error {
  border: 3px solid rgb(172, 48, 48);
}

.auth_field:not(:placeholder-shown):required:invalid {
  border: 3px solid rgb(172, 48, 48);
}

.auth_field:not(:placeholder-shown):required:valid {
  border: 3px solid rgb(2, 146, 2);
}

.auth_field:focus + .auth_label,
.auth_field:not(:placeholder-shown) + .auth_label {
  transform: translateY(-32px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 10px;
  padding-top: 0;

  @include tablet {
    transform: translateY(-43px);

    font-size: 12px;
    padding-top: 0;
  }
}

.auth_comment:focus + .auth_label,
.auth_comment:not(:placeholder-shown) + .auth_label {
  transform: translateY(-30px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 10px;

  @include tablet {
    transform: translateY(-36px);

    font-size: 12px;
  }
}

.auth_form > .auth_btn {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  height: 64px;
  background-color: var(--main-color);
  border-radius: 40px;
  color: var(--text-in-btn);
  font-size: 18px;
  font-weight: 700;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.option_btn {
  border: none;
  background: none;
  color: var(--accent-color);
  text-decoration: underline;
  font-weight: 700;

  &:disabled {
    color: var(--signup-btn);
    text-decoration: none;
  }
}

.error {
  color: #f31414;
  margin-top: 0;
  position: absolute;

  font-size: 14px;

  @include tablet {
    font-size: 18px;
  }
}
