.header {
  background-color: var(--card-background);
  border: 1.5px solid var(--main-color);
  border-radius: 0px 0px 8px 8px;

  @include mobile {
    width: 375px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1280px;
  }

  &__container {
    padding: 18px 20px;

    display: flex;
    align-items: center;

    margin: 0 auto;

    @media screen and (max-width: 767.67px) {
      max-width: 375px;
    }

    @include tablet {
      width: 768px;
    }

    @include desktop {
      width: 1280px;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 15;
    background-color: var(--card-background);
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  &__text {
    fill: var(--text-in-logo);
  }
}

.nav {
  margin-left: 32px;

  @include desktop {
    margin-left: 99px;
  }

  &__list {
    display: none;
    @extend %list;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      gap: 16px;

      @include desktop {
        gap: 24px;
      }
    }
  }

  &__link {
    @extend %link;

    font-weight: 500;
    font-size: 14px;
    line-height: 129%;

    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: var(--main-color);

    transition-property: color, background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    &:hover {
      color: var(--second-accent);
    }

    &:hover .nav__icon {
      fill: var(--second-accent);
    }

    &.shop-link {
      display: flex;
      align-items: center;
    }

    &.current-page {
      color: var(--main-color);
      background-color: #fec700;
      padding: 8px 16px;
      border-radius: 36px;

      font-weight: 700;

      &:hover {
        color: var(--nav-link-hovered);
        background-color: #e4b300;
      }

      &:hover .nav__icon {
        fill: var(--nav-link-hovered);
      }
    }
  }

  &__icon {
    fill: var(--main-color);
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
}

.theme-toggle-js {
  position: relative;

  margin-left: auto;
  margin-right: 14px;

  width: 40px;
  height: 20px;
  appearance: none;

  background: linear-gradient(180deg, var(--accent-color) 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);

  border-radius: 20px;

  transition-property: background-image;
  transition-duration: 500ms;
  transition-timing-function: var(--transition-timing-function);

  @include mobile {
    // margin-left: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 1;
    left: 1;

    width: 18px;
    height: 18px;
    border-radius: 50%;

    transition-property: transform;
    transition-duration: 350ms;
    transition-timing-function: var(--transition-timing-function);

    background: linear-gradient(180deg, var(--caritas-txt) 0%, #f7f7f7 100%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
      1px 2px 4px rgba(0, 0, 0, 0.1);
  }

  &:checked {
    background-image: linear-gradient(180deg,
          var(--accent-color) 0%,
        #686868 100%);

    &::before {
      transform: translateX(20px);
    }
  }
}

.mobile-menu {
  @include small-mobile {
    max-width: 375px;
  }

  @include mobile {
    width: 375px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1280px;
  }
font-family: var(--main-font-family);
  z-index: 10;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-150%);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
        #ffffff 100%);
  transition: transform 300ms ease-in;

  @include tablet {
    display: none;
  }

  &.active {
    transform: translateY(0);
    transition: transform 300ms ease-in;
  }

    &>.background-image {
    height: 50%;
    background-image: url("../images/mobile-bg.png");
    background-size: cover;
  }

  &__button {
    border: none;
    background-color: transparent;
    stroke: var(--main-color);

    transition-property: stroke;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);


    .burder-menu__icon {
      display: block;
      fill: var(--main-color);
    }

    .close__icon {
      display: none;
    }

    &.active {
      .burder-menu__icon {
        display: none;
      }

      .close__icon {
        display: block;
      }
    }

    @include tablet {
      display: none;
    }
  }
}

.content {
  height: 50%;

  .nav {
      margin-left: 0;
      height: 100%;

    &__list {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

        .mob-home {
          margin-bottom: 16px;
      color: #111111;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 8px 16px;
        gap: 10px;
      width: 72px;
        height: 34px;
      background-color: var(--second-accent);
        border-radius: 36px;

      &.shop-link {
          display: flex;
          align-items: center;
          color: var(--accent-color);
        }

            &.current-page {
              color: var(--main-color);
              background-color: #fec700;
              padding: 8px 16px;
              border-radius: 36px;
              font-weight: 700;

        &:hover {
            color: var(--nav-link-hovered);
            background-color: #e4b300;
          }

                &:hover .nav__icon {
                  fill: var(--nav-link-hovered);
                }
                }
                }

        .shop-link {
          color: var(--caritas-txt);
        }

        .user-mob {
          position: absolute;
          width: 37px;
          height: 37px;
          border: none;
          border-radius: 50%;
      background-color: var(--caritas-txt);
        top: 20px;
        left: 20px;

      @include mobile {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

        .nav-btn {
          gap: 4px;
      align-items: center;
        display: flex;
        position: absolute;
      height: 48px;
        left: 20px;
        bottom: 80px;
        padding: 14px 24px;
      background-color: var(--caritas-txt);
        border: 1.5px solid #111111;
        border-radius: 18px;
      }

        .nav__icon {
          fill: white;
        }
.user-sing {
  position: relative;
  padding: 14px;
  border: 1.5px solid #111111;
  border-radius: 18px;
  background-color: var(--accent-color);
  color: var(--caritas-txt);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  top: 40px;
  left: 20px;
    }
  }
}

.user {
  display: none;
  padding: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.04em;
  border: 1.5px solid #111111;
  border-radius: 18px;
  background-color: var(--accent-color);
  color: var(--caritas-txt);

  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
  }

  &.log-out {
    position: absolute;
    background-color: var(--caritas-txt);
    color: #111111;
  }

  &-authorized {
    position: relative;

    &__btn {
      display: flex;
      display: none;
      align-items: center;
      padding: 4px 12px;
      background-color: var(--accent-color);
      border: none;
      border-radius: 36px;
    }

    &__image {
      border-radius: 50%;
    }

    &__name {
      margin-left: 9px;
      margin-right: 4px;
      font-family: var(--main-font-family);
      font-weight: 700;
      font-size: 22px;
      line-height: 131.818182%;
      letter-spacing: -0.02em;
      color: var(--caritas-txt);
    }
  }

  &-log-out {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 84px;
    padding: 14px;
    border: 1.5px solid #111111;
    border-radius: 18px;
    background-color: var(--caritas-txt);
    color: #111111;
    transform: translateY(100%);
    pointer-events: none;

    transition-property: transform, opacity;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    @media screen and (max-width: 767.67px) {
      gap: 4px;
    }

    &.lo-open {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }
}