.header {


    .header-content {
        position: relative;
        z-index: 10;
        height: 64px;
        background-color: tomato;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .burger-btn {
            border: none;
            background-color: #ffffff;

            img:nth-child(1) {
                display: block;
            }

            img:nth-child(2) {
                display: none;
            }

            &.active>img:nth-child(1) {
                display: none;
            }

            &.active>img:nth-child(2) {
                display: block;
            }

            @include tablet {
                display: none;
            }
        }
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateY(-100%);
        position: fixed;

        height: 100vh;
        width: 100vw;
        background: radial-gradient(183.6% 183.01% at 59.76% -23.42%,
                #4f2ee8 18.03%,
                #ffffff 100%);
        transition: transform 300ms ease-in;

        @include tablet {
            display: none;
        }

        &.active {
            transform: translateY(0);
            transition: transform 300ms ease-in;
        }

        &>.background-image {
            img {
                width: 100%;
                height: 450px;
                position: absolute;
                bottom: 0;
            }
        }


    }
}